---
import MainLayout from "../../layouts/main-layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const UniversitasEntries = await getCollection("universitas");
  return UniversitasEntries.map((entry) => ({
    params: { slug: entry.data.title.toLowerCase().replace(/ /g, "-") },
    props: { entry },
  }));
};

type Props = {
  entry: CollectionEntry<"universitas">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout frontmatter={entry.data} slug={entry.slug} title={entry.data.title}>
  <section class="mx-auto mb-6 mt-36 h-fit w-4/5 text-lg text-slate-50 lg:mt-60 lg:text-2xl">
    <a
      href="/inspirasi"
      class="flex h-fit w-fit items-center transition-all duration-300 ease-in-out"
    >
      <i class="fa fa-arrow-left"></i>
      &emsp;
      <h4 class="font-semibold hover:text-slate-200 hover:underline">Back</h4>
    </a>
  </section>
  <main class="mx-auto grid h-fit w-4/5 place-items-center rounded-t-3xl">
    <img
      src={entry.data.image}
      alt={entry.data.title}
      class="h-full w-full rounded-3xl"
      style="box-shadow: 0.5rem 0.5rem 0 #bcbcbc50"
    />
    <section class="flex h-full w-full cursor-default flex-col text-slate-50 xl:flex-row">
      <div class="mt-6 flex h-full w-full flex-col justify-center xl:w-1/2">
        <h3 class="text-4xl font-black">{entry.data.acronym}</h3>
        <h5 class="text-lg font-semibold">{entry.data.title}</h5>
      </div>
      <div class="mt-4 flex h-full w-full items-center justify-start text-lg xl:w-1/2 xl:justify-end xl:text-xl">
        <i class="fas fa-map-marker-alt"></i>
        <h5>
          &numsp;{entry.data.location}
          <br />
          <p class="text-base">&emsp;{entry.data.category}</p>
        </h5>
      </div>
    </section>
    <em class="mt-12 h-full w-full cursor-default text-center text-slate-50">
      {entry.data.description}
    </em>
    <hr class="mb-6 mt-3 h-0.5 w-full rounded-full bg-slate-50" />
    <section class="mb-10 cursor-default text-justify text-slate-50">
      <Content />
    </section>
    <section class="mb-4 h-fit w-full text-sm sm:text-base">
      <a
        href=`https://github.com/a6iyyu/visit-jatim/tree/main/src/content/universitas/${entry.slug}.mdx`
        target="_blank"
        class="flex h-fit w-fit cursor-pointer items-center justify-center rounded-full bg-slate-50 px-4 py-3 font-bold text-gray-950 transition-all duration-300 ease-in-out hover:bg-slate-200"
        style="box-shadow: 0.3rem 0.3rem 0 #bcbcbc50"
      >
        <i class="fa fa-arrow-left ml-3 mr-6"></i>
        <h4 class="mr-4 sm:mr-6">Edit this page<br />on GitHub</h4>
      </a>
    </section>
  </main>
</MainLayout>